﻿@model vit.ViewModels.FamilyViewModel

@{
    ViewData["Title"] = "GetFamilyInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3 class="text-center well"> @Model.Name  <label class="badge bg-danger"> @Model.TotalChildren</label> </h3>
<!-- /.row -->
<div class="row">
    @foreach (var son in Model.Members)
    {
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-group">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-user fa-5x" aria-hiddent="true"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="text-success"><strong> @son.Name </strong> </div>
                            <div class="text-success"><strong> @son.CellPhone </strong> </div> 
                            <div class="text-success"><strong> @son.Profession </strong> </div>  
                        </div>
                    </div>
                </div>
                
                @if (son.HaveKids)
                {
                <a asp-action="GetFamilyInfo" asp-route-id="@son.Id">
                    <div class="panel-footer">
                        <span class="pull-left">
                            <i class="fa fa-child"></i>
                            <i class="fa fa-child"></i>
                            <label class="badge small">
                                @son.TotalKids
                            </label>
                        </span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
                }
                else
                {
                    <a>
                        <div class="panel-footer no-children">
                            <span class="pull-left"> <i class="fa fa-user-times"></i> </span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>

                }
            </div>
        </div>
    }
</div>
<!-- /.row -->

<p>
    <a class="btn btn-info" asp-action="GetFamilyInfo" asp-route-id="@Model.ParentId"> Back </a>
</p>

