﻿@*@model IEnumerable<vit.Entities.VillageMembers>*@
@model vit.ViewModels.FamilyViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-center well text-success"> <label class="badge bg-danger">@Model.TotalChildren</label> Families </h3>

<div></div>

@if (TempData["Message"] != null)
{
    <div class="well-lg ">
        <div class="alert alert-info text-center">
            <strong>
                @TempData["Message"]
            </strong>
        </div>
    </div>
}
<!-- /.row -->
<div class="row">
    @foreach (var member in Model.Members)
    {
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-group">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-user fa-5x" aria-hiddent="true"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="text-success"><strong> @member.Name </strong> </div>
                            <div class="text-success"><strong> @member.CellPhone </strong> </div>
                            <div class="text-success"><strong> @member.Profession </strong> </div>
                        </div>
                    </div>
                </div>
                @if (member.HaveKids)
                {
                    <a asp-action="GetFamilyInfo" asp-route-id="@member.Id">
                        <div class="panel-footer">
                            <span class="pull-left">
                                <i class="fa fa-child"></i>
                                <i class="fa fa-child"></i> 
                                <label class="badge small">
                                      @member.TotalKids
                                </label>
                            </span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                }
                else
                {
                    <a>
                        <div class="panel-footer no-children">
                            <span class="pull-left"> <i class="fa fa-user-times"></i> </span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>

                }
            </div>
        </div>
    }
</div>
<!-- /.row -->
