﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}
 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.glyphicon.glyphicon-thumbs-up {
    color: green;
    font-size: 25px;
    font-weight: bolder;
}

.glyphicon.glyphicon-thumbs-down {
    color: #f86550;
    font-size: 25px;
    font-weight: bolder;
}

.fa.fa-user {
    color: #9afc9a; 
}
.fa.fa-times, .fa.fa-user-times {
    font-weight: lighter;
    color: #f86550;
    font-size: 12px;
}
 

td, th {
        text-align: center;
    }

 input.empty {
        font-family: FontAwesome;
        font-style: normal;
        font-weight: 400;
        text-decoration: inherit;
        padding: 5px;
        font-size: 19px; 
        border: 1px solid #f7d9f7;
        border-radius: 4px; 
        color: green; 
    }

.no-children{
    background-color: antiquewhite;
}