﻿@model vit.Entities.VillageMembers
@{
    ViewData["Title"] = "EditMember";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>EditMember</h2>
<h4>VillageMembers</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateMember">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentId" class="control-label"></label>
                <select asp-for="ParentId" class="form-control" asp-items="ViewBag.ParentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Education" class="control-label"></label>
                <input asp-for="Education" class="form-control" />
                <span asp-validation-for="Education" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CellPhone" class="control-label"></label>
                <input asp-for="CellPhone" class="form-control" />
                <span asp-validation-for="CellPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profession" class="control-label"></label>
                <input asp-for="Profession" class="form-control" />
                <span asp-validation-for="Profession" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="Avatar" class="control-label"></label>
                    <input asp-for="Avatar" class="form-control" />
                    <span asp-validation-for="Avatar" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="MaritialStatus" class="control-label"></label>
                <br />
                @Html.EditorFor(model => model.MaritialStatus, new { @class = "form-control" })
                <span asp-validation-for="MaritialStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsAlive" class="control-label"></label>  <br />
                @Html.EditorFor(model => model.IsAlive, new { @class = "form-control" })
                <span asp-validation-for="IsAlive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

