﻿@model IEnumerable<vit.Entities.VillageMembers>
	@{
		ViewData["Title"] = "Index";
		Layout = "~/Views/Shared/_Layout.cshtml";
	}
	 <h2></h2>
	<p>
		<a class="btn btn-info" asp-action="Createmember">Create New</a>
	</p>

	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>
					Name
				</th>
				<th>
					Father Name
				</th>
				<th>
					Age
				</th>
				<th>
					Educations
				</th>
				<th>
					Cell #
				</th>
				<th>
					Profession
				</th>

				<th>
					Married
				</th>
				<th>
					Alive
				</th>

				<th></th>
			</tr>
		</thead>
		<tbody> 
			@foreach (var item in Model)
			{
				var married = (item.MaritialStatus == true) ? "glyphicon-thumbs-up" : "glyphicon-thumbs-down";
				var alive = item.IsAlive == true ? "glyphicon-thumbs-up" : "glyphicon-thumbs-down";


				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Parent.Name)
						@if (item.Parent == null)
						{

							<i class="fa fa-times fa-2x text-center" aria-hidden="true"></i>
						}
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Age)
						@if (item.Age == null)
						{

							<i class="fa fa-times fa-2x text-center" aria-hidden="true"></i>
						}
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Education)
						@if (item.Education == null)
						{

							<i class="fa fa-times fa-2x text-center" aria-hidden="true"></i>
						}
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.CellPhone)
						@if (item.CellPhone == null)
						{

							<i class="fa fa-times fa-2x text-center" aria-hidden="true"></i>
						}
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Profession)
						@if (item.Profession == null)
						{

							<i class="fa fa-times fa-2x text-center" aria-hidden="true"></i>
						}
					</td>

					<td class="text-center">
						<span class="glyphicon @married"></span>
					</td>
					<td>
						<span class="glyphicon @alive"></span>
					</td>

					<td class="text-center">
						<a class="btn btn-group-sm btn-success" asp-action="EditMember" asp-route-id="@item.Id">Edit</a>
						<a class="btn btn-group-sm btn-default" asp-action="MemberDetails" asp-route-id="@item.Id">Details</a>
						<a class="btn btn-group-sm btn-danger" asp-action="DeleteMember" asp-route-id="@item.Id">Delete</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
